@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");

:root {
  /*Primary*/
  --text-red: hsl(0, 100%, 67%);
  --text-orangey-yellow: hsl(39, 100%, 56%);
  --text-green-teal: hsla(166, 100%, 37%);
  --text-cobalt-blue: hsla(234, 85%, 45%);

  /*Secondary*/
  --light-red: hsla(0, 100%, 67%, 0.15);
  --orangey-yellow: hsla(39, 100%, 56%, 0.15);
  --green-teal: hsla(166, 100%, 37%, 0.15);
  --cobalt-blue: hsla(234, 85%, 45%, 0.15);

  /*Gradients*/
  --slate-blue: hsl(252, 100%, 67%);
  --royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0.2);

  /*Neutral*/
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /*Font-family*/
  --type-face: "Hanken Grotesk", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--type-face);
  font-weight: normal;
}

body {
  justify-content: center;
  min-height: 100vh;
}

.summary-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: var(--white);
  background-image: linear-gradient(var(--slate-blue), var(--royal-blue));
  border-radius: 25px;
}

.result-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--lavender);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
}

.circle-score {
  font-size: 56px;
  line-height: 1.2;
}

.circle-total {
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: var(--lavender);
}

.result-paragraph-title {
  font-size: 28px;
  margin-bottom: 5px;
}

.result-paragraph-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.summary {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 25px;
}

.summary-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-gray-blue);
}

.summary-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.summary-item--reaction {
  background-color: var(--light-red);
}
.summary-item--memory {
  background-color: var(--orangey-yellow);
}
.summary-item--verbal {
  background-color: var(--green-teal);
}
.summary-item--visual {
  background-color: var(--cobalt-blue);
}

.summary-category {
  font-weight: bold;
}
.summary-category--reaction {
  color: var(--text-red);
}
.summary-category--memory {
  color: var(--text-orangey-yellow);
}
.summary-category--verbal {
  color: var(--text-green-teal);
}
.summary-category--visual {
  color: var(--text-cobalt-blue);
}

.summary-score {
  color: var(--dark-gray-blue);
  font-size: 18px;
  font-weight: bold;
}

/* Styles for attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
